.card-character {
    width: 40rem;
    height: 16rem;
    display: flex;
    margin: 15px;
    justify-content: center;
    align-items: center;
    border: 1px solid orangered;
    text-align: left;
    border-radius: 15px;
    background-color: #f9f9f9;
}

.card-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 10px;
}

.character-detail {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-left: 20px;
    margin-top: 20px;
}

.character-detail p {
    margin: 5px;
    padding: 0;
    text-align: left;
}

.card-title h2 {
    width: 100%;
    color: orangered;
    text-align: left;
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    font-weight: 800;
    font-family: -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica', 'Arial', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.img-character {
    height: 100%;
    width: 40%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.iconfav {
    font-size: xx-large;
    color: red;
    text-align: center;
   padding-right: 25px;
}

a {
    text-align: center;
}

.character-alive {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: smaller;
    margin-left: 5px;

}

.list-characters{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


.character-details-container{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid orangered;
    margin: 2rem;
    border-radius: 15px;
}

.character-details-container h1{
    text-align: center !important;
}

.character-detail-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
   align-content:flex-start;

}

.character-detail-data{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.character-detail-data h1{
    font-size: 5em;
}

.character-data-content{
   
    display: flex;
}

.character-data-content img{
    border-top-left-radius: 15px;
    width: 50rem;
   
}

.episode-detail-container{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.episode-card-detail{
    display: flex;
    flex-direction: column;
    align-content: center;
    border: 1px solid blue;
    border-radius: 15px;
    width: 8rem;
    height: 6.5rem;
    margin: 0.7rem;
    padding: 0.5rem;
}
   

.episode-card-detail h5{
    margin: 5px;
    text-align: left;
    text-decoration:dotted;
}

.episode-card-detail h4{
    margin: 10px;
}

.custom-link{
    width: auto;
    text-decoration: none;
    color: orangered;
    align-self: flex-start;
}

.custom-link :hover{
    color: black;
    cursor: pointer;
}

.character-alive{
    justify-content: left;
}
.character-p{
    margin-left: 15px;
    text-align: left;
}

